 <!-- Footer -->
 <footer>
  <!-- Footer Content -->
  <div id="footer-content">
    <!-- Left part -->
    <div id="footer-left">
      
      <div class="footer-card">
        <i class="fas fa-video"></i>
        <div>
          <h4>DemoVideo</h4>
          <span>For the demo Click here!</span>
        </div>
      </div>

      <div class="footer-card">
        <i class="fab fa-github"></i>
        <div>
          <h4>Github</h4>
          <span>For reference see here</span>
        </div>
      </div>

      <div class="footer-card">
        <i class="fa-solid fa-address-card"></i>
        <div>
          <h4>About us</h4>
          <span>For more Informations Click here</span>
        </div>
      </div>

    </div>
    <!-- Left part ends -->
     <!-- Right part - Reachus form -->
    <div id="footer-right">
      <div>
        <h3>ReachUs</h3>
        <span>For more details send your email</span>
      </div>
      <div id="reachus-form">
        <form action="#" id="reachus-form-input">
          
          <input type="text" placeholder="Email Address" />
          <button><i class="fa-sharp fa-solid fa-paper-plane"></i></button>
         
        </form>
      </div>
    </div>
    <!-- Right part - Reachus Form ends -->
  </div>
  <!-- Footer Content ends -->
  
  <span id="footer-copyright">
    All &copy; copyrights are reserved.
  </span>

</footer>
<!-- Footer ends -->