<header>
  <!-- Navbar -->
  <nav id="navbar">
    <span><b>IMS</b></span>
    <ul id="nav-items">
      <a href="/dashboard">
        <li class="nav-item" id="dashboard">
          <i class="fa-solid fa-gauge"></i>
          &nbsp;&nbsp;Dashboard
        </li>
      </a>

      <a href="/products">
        <li class="nav-item" id="products">
          <i class="fa-solid fa-boxes-stacked"></i>
          &nbsp;&nbsp;Products
        </li>
      </a>

      <a href="/peoples">
        <li class="nav-item" id="people">
          <i class="fa-solid fa-people-group"></i>
          &nbsp;&nbsp;People
        </li>
      </a>


      <li class="nav-item" id="bell">
        <i class="fa-solid fa-bell"></i>
        <span id="badge">0</span>
      </li>

      <button onclick="expand()" id="expand">
        <li class="nav-item">
          <i class="fa-solid fa-expand"></i>
        </li>
      </button>

      <a href="/exit">
        <li class="nav-item">
          <i class="fa-solid fa-right-from-bracket"></i>
        </li>
      </a>

    </ul>
  </nav>
  <!-- Navbar ends -->
</header>