/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0px 10px;
  background-color: beige;
  border-radius: 0px 0px 20px 20px;
}

#navbar span {
  flex: 1;
  display: flex;
}

#navbar span b {
  align-self: center;
  padding: 0px 20px;
}

#nav-items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  flex: 2;
}

#expand {
  background-color: transparent;
  border: none;
  outline: none;
}

#nav-items li {
  padding: 10px;
  margin: 0px 20px;
}

#nav-items li:hover,
.active {
  background-color: bisque;
  border-radius: 15px 15px 0px 0px;
}

#nav-items a {
  color: inherit;
  text-decoration: none;
}

#bell {
  position: relative;
}

#badge {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 50%;
}
/* Navbar ends */